/* Global styles */

body {
    background-color: #E7DFC6;
    max-width: 1200px;
    margin: auto;
    font-family: 'Electrolize', sans-serif;
    color: #131B23;
}

/* Heading */

.heading {
    text-align: center;
    font-family: 'Oleo Script', cursive;
}

.logo {
    height: 30px;
}

/* Game area */

.gameArea {
    margin: 0.5%;
    background-color: #816C61;
    padding: 1%;
}


.gameArea>p {
    font-weight: bold;
    font-size: larger;
    color: #131B23;
}

.tableArea {
    border-radius: 10px;
    border: 5px solid;
    border-color: #131B23;
    margin: 5px 0px;
    display: flex;
}

.centerDiv {
    text-align: center;
}

.centerDiv>p {
    font-weight: bold;
    color: #131B23;
}

.centerDiv span {
    color: #2274A5;
    font-size: x-large;
}

#scoreArea {
    font-size: x-large;
}

/* Buttons style */

.buttons {
    border-radius: 10px;
    font-family: 'Electrolize', sans-serif;
    text-align: center;
    font-weight: bold;
    height: 3rem;
    width: 10rem;
    color: #131B23;
    background-color: #E7DFC6;
    font-size: x-large;
    margin: 10px;
}

.buttons:hover {
    background-color: #2274A5;
    transform: scale(1.1);
}

.buttons:active {
    transform: scale(0.95);
}

/* Info section */

/* The modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content/box */
.modalContent {
    background-color: #E7DFC6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #131B23;
    width: 80%;
    font-weight: bold;
    font-size: 150%;
    color: #131B23;
}

.modalContentAlert {
    text-align: center;
    background-color: #E7DFC6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #131B23;
    width: 12rem;
    height: 15rem;
    font-weight: bold;
    font-size: 150%;
    color: #131B23;
    position: relative;
}

/* The close and confirm buttons */
.close {
    color: #131B23;
    padding: 0 0 0 5px;
    float: right;
    font-size: 150%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #2274A5;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    
}

.confirm {
    color: #131B23;
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    left: 40%;
    bottom: 5%;
}

.confirm:hover,
.confirm:focus {
    color: #2274A5;
    text-decoration: none;
    cursor: pointer;
}

#winner {
    font-weight: bold;
    color: goldenrod;
}

#lost {
    font-weight: bold;
    color: grey;
}

#drawRound {
    font-weight: bold;
    color: blue;
}

#busted {
    font-weight: bold;
    color: red;
}

#infoButton {
    margin-left: 2%;
    padding: 1% 1%;
    border-radius: 10px;
    font-family: 'Electrolize', sans-serif;
    text-align: center;
    height: auto;
    width: auto;
    background-color: #E7DFC6;
}

#infoButton:hover {
    background-color: #2274A5;
}

#infoButton:active {
    transform: scale(0.9);
}

/* Old info button content
#instructions {
    display: none;
    font-size: 110%;
    padding: 1%;
} */

footer {
    margin-top: 2%;
}

/* Cards layout */

.cards {
    padding: 20px 10px;
    background-color: #E9F1F7;
    border: 3px solid;
    width: 98px;
    height: 160px;
    margin: 20px 10px;
    border-radius: 10px;
}

#questionMarkStyle {
    font-size: 500%;
    font-weight: bold;
    margin-top: 40%;
}

.topLeft {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    font-weight: bold;
    margin-top: -18%;
    color: #131B23;
}

.suite {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #131B23;
}

.fa-diamond,
.fa-heart {
    color: #A31621;
}

.bottomRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: bold;
    color: #131B23;
}

/* --------- Media queries */

/*---------- Classic screens under 1200px */
@media (max-width: 1200px) {
    .gameArea {
        background-color: #816C61;
        padding: 1%;
    }

    .tableArea {
        border: 2px solid;
        margin: 0;
    }
}

/* --------- Older screens under 1080px */
@media (max-width: 1080px) {
    .cards {
        width: 54px;
        height: 80px;
        margin: 15px 15px;
        border-radius: 5px;
    }

    .topLeft {
        font-size: 1rem;
        margin-top: -14%;
    }

    .suite {
        font-size: 1.25rem;
    }

    .bottomRight {
        font-size: 1rem;
    }

    .buttons {
        height: 2.5rem;
        width: 7rem;
        font-size: medium;
    }

    #scoreArea {
        font-size: medium;
    }

    #questionMarkStyle {
        font-size: 200%;
    }

    .centerDiv span {
        font-size: large;
    }
}

/* --------- Tablets */
@media (max-width: 700px) {
    .cards {
        padding: 20px 5px;
        width: 40px;
        height: 60px;
        margin: 6px 6px;
    }

    .topLeft {
        margin-top: -50%;
    }



    #questionMarkStyle {
        margin-top: 35%;
    }
}

/* --------- Mobile phones */
@media (max-width: 570px) {
    .cards {
        width: 30px;
        height: 40px;
        margin: 2px 2px;
    }

    .topLeft {
        font-size: 14px;
        margin-top: -60%;
    }

    .suite {
        font-size: 14px;
    }

    .bottomRight {
        font-size: 14px;
    }

    #questionMarkStyle {
        margin-top: 20%;
    }

    .gameArea>p {
        font-size: 14px;
    }

    #instructions {
        font-size: 14px;
    }

    .centerDiv span {
        font-size: medium;
    }
}