/* Global style */

body {
    background-color: slategray;
    max-width: 1200px;
    margin: auto;
}

/* Heading */

.heading {
    text-align: center;
}

.logo {
    height: 30px;
}

/* Game area */

.gameArea {
    background-color: wheat;
    padding: 1%;
}

.tableArea {
    border: 5px solid;
    border-color: black;
    margin: 5px 0px;
    display: flex;
}

.cards {
    padding: 20px 10px;
    background-color: white;
    border: 3px solid;
    width: 108px;
    height: 160px;
    margin: 30px 30px;
}

/*.cards > p {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}*/

.topLeft {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    font-weight: bold;
    margin-top: -14%;
}

.suite {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.bottomRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: bold;
}

/* --------- Media queries */

@media (max-width: 800px) {
    .cards {
        width: 54px;
        height: 80px;
        margin: 15px 15px;
    }

    .topLeft {
        font-size: 1rem;
        margin-top: -14%;
    }
    
    .suite {
        font-size: 1.25rem;
    }
    
    .bottomRight {
        font-size: 1rem;
    }
}

@media (max-width: 460px) {
    .cards {
        width: 30px;
        height: 50px;
        margin: 9.75px 9.75px;
    }

    .topLeft {
        font-size: 0.65rem;
        margin-top: -18%;
    }
    
    .suite {
        font-size: 0.85rem;
    }
    
    .bottomRight {
        font-size: 0.65rem;
    }
}